/* NOT NEEDED
ul {
    list-style: none;
    padding: 0;
}
*/
body {
  background: #E1BEE7;
}

/* p {
    color: #444;
} */
#start-record-btn {
  border-radius: 50%;
}

#start-record-btn:focus {
  outline: 0;
}

.container {
  /* max-width: 700px; */
  display: grid;
  grid-template-areas:
    "t t t t t"
    "st st st st st"
    "l p p p sc"
    "ta ta ta ta ta"
    ". . b . ."
    "h h h h h"
    "w w w w w"
    "r r r r r";
    margin: 0 auto;
  padding: 50px 50px;
  text-align: center;
}

#my-text {
  grid-area: w;
}

#my-result {
  grid-area: r;
}

#recording-instructions {
  grid-area: h;
}

#title {
  grid-area: t;
}

.input-single {
  grid-area: ta;
}

#level-display {
  grid-area: l;
}

#prompt {
  grid-area: p;
}

#score-display {
  grid-area: sc;
}

.container h1 {
  margin-bottom: 20px;
}

.page-description {
  font-size: 1.1rem;
  margin: 0 auto;
  grid-area: st;
}

/* .tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
} */
.no-browser-support {
  display: none;
  font-size: 1.2rem;
  color: #e64427;
  margin-top: 35px;
}

/* .app {
    margin: 40px auto;
    display: grid;
} */
#note-textarea {
  margin: 20px 0;
}

#recording-instructions {
  margin: 15px auto 60px;
}

#notes {
  padding-top: 20px;
}

.note .header {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
  text-decoration: none;
  margin-left: 15px;
}

.note .content {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 25px;
  }

  button {
    margin-bottom: 10px;
  }
}

.button {
  margin: 0 auto 0;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  grid-area: b;
}

.inner {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.button.active .inner {
  transform: scale(0.5);
  border-radius: 12%;
}

/* -- Demo ads -- */
@media (max-width: 1200px) {
  #bsaHolder {
    display: none;
  }
}
